<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://ddiu.io"
      target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      border-b
      border-slate
      border-none
      hover:border-dashed
      href="https://github.com/ddiu8081/chatgpt-demo"
      target="_blank"
    >
      Source Code
    </a>
  </p>

  <div class="flex items-center mt-2">
    <span
      class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600"
      >广告推荐</span
    >
  </div>
  <div>
    <a href="https://click.aliyun.com/m/1000368597/" target="_blank"
      ><img src="https://assets.youzhan.org/img/aliyun-side-20230228.jpg" /></a
    >
  </div>
</footer>
